
 * {
    font-family: $fontText;
    margin: 0;
    padding: 0;
    font-weight: map-get($font-weights, "regular");
 }
 
 body {
    background-color: $bg-main;
 }
 
 .landing-logo {
    display: flex;
    align-items: center;
 
    img {
       height: 60px;
    }
 
    p {
       font-size: 20px;
       margin-left: 10px;
       line-height: 1;
       color: $text-color;
 
       span {
          display: block;
          font-size: 8px;
          text-align: -webkit-center;
       }
    }
 }
 
 .section {
    display: flex;
    flex-direction: column;
    align-items: center;
 
    .section_text {
       font-size: 25px;
       margin-top: 20px;
       font-weight: map-get($font-weights, "medium");
       font-family: 'Source Sans Pro', sans-serif;
       color: $text-color;
    }
 
    .section_card {
       display: flex;
       flex-direction: column-reverse;
       justify-content: space-between;
       align-items: center;
       background: $bg-footer;
       border-radius: 5px;
       margin: 20px auto;
       transition: transform 0.2s;
       -webkit-box-shadow: 0px 5px 10px 4px rgba(34, 60, 80, 0.2);
       -moz-box-shadow: 0px 5px 10px 4px rgba(34, 60, 80, 0.2);
       box-shadow: 0px 5px 10px 4px rgba(34, 60, 80, 0.2);
       &:hover {
          transform: scale(1.01);
          -webkit-box-shadow: 0px 5px 10px 8px rgba(34, 60, 80, 0.2);
          -moz-box-shadow: 0px 5px 10px 8px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 10px 8px rgba(34, 60, 80, 0.2);
       }
 
       .section_card_img {
          margin: 10px;
          border-radius: 5px;
       }
       
       .section_card_right_container {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #c6d0cb;
 
          .section_card_heading {
             margin-bottom: 20px;
             font-family: 'Source Sans Pro', sans-serif;
             font-weight: map-get($font-weights, "bold");
          }
 
          .section_card_text {
             font-size: 10px;
          }
 
          .section_link {
             @include allLinks();
             font-size: 10px;
             font-family: 'Source Sans Pro', sans-serif;
             margin-top: 15px;
          }
       }
    }
 
    .section_banner {
       background: $gard-bg;
       display: flex;
       justify-content: space-around;
       padding-top: 20px;
       padding-bottom: 20px;
       border-radius: 5px;
       position: relative;
       top: 40px;
 
       .section_banner_heading {
          font-size: 16px;
          color: $text-color;
          font-weight: map-get($font-weights, "bold");
          font-family: 'Source Sans Pro', sans-serif;
       }
 
       .section_banner_text {
          font-size: 10px;
          color: $text-color;
       }
 
       .section_banner_button {
          @include allButtons()
       }
    }
 }
 