$bg-img: url('../img/m-h-night.jpg');
$text-color: #fff;
$bg-main: #21232e;
$bg-footer: #3b3f50;
$gard-bg: linear-gradient(90deg, #c90 0%, #936 100%);
$button-color: #c90;
$after-color: #f63;
$fontText: 'Fresca', sans-serif;