$bg-img: url('../img/m-h-day.jpg');
$text-color: #21232e;
$bg-main: #fff;
$bg-footer: #21232e;
$gard-bg: linear-gradient(90deg, #fffb02 0%, rgba(47,93,207,1) 100%);
$button-color: #b2af00;
$after-color: #09c;
$fontText: 'Hind', sans-serif;
